RewriteEngine On

RewriteBase /

# rewrite css files to their actual path
RewriteRule ^css/(.+\.css)$ /App/templates/css/$1 [L,NC]

# rewrite js files to their actual path
RewriteRule ^js/(.+\.js)$ /App/templates/js/$1 [L,NC]

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^(.+)$ index.php [QSA,L]