# BALERO CMS
# ========================================================================
# NOTES (19-OCT-2013)
# ========================================================================
# IF YOU HAVING PROBLEMS WITH .HTACCESS FILES READ THIS:
# ========================================================================
# http://docs.balerocms.org/cgi-bin/moin.cgi/.htaccess%20files [EN]
# http://docs.balerocms.org/cgi-bin/moin.cgi/archivos%20.htaccess [ES]
# ========================================================================

# :::: Redir admin ::::
Options +FollowSymLinks
RewriteEngine on

# :::: Off "Index Of /" :::: 
Options -Indexes
IndexIgnore *

# ::::::::::::::::::::
# :::: Pretty URL ::::
# ::::::::::::::::::::

# Add slash / to get parameters app, subroutine or page-or-id

RewriteRule ^([a-zA-Z0-9_-]+)$ $1/
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ $1/$2/
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ $1/$2/$3/
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ $1/$2/$3/$4/

# :::: App parameter :::::
# Ex: index.php?app=blog

RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?app=$1

# :::: Subroutine parameter ::::
# Ex: index.php?app=blog&sr=action

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/$ index.php?app=$1&sr=$2

# $param1

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)/$ index.php?app=$1&sr=$2&$3=$4

# $param2

RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)/$ index.php?app=$1&sr=$2&$3=$4&$5=$6

# ::::::: EXAMPLE :::::::
# index.php?app=admin&sr=edit_post&mod=blog&id=1
# or
# /admin/edit_post/mod-blog/id-1